@media screen and (max-width: 1023px) {
    .card-id {
        display: none;
    }
}

.card-id {
    width: 600px;
    height: 380px;
    border-color: #000000;
    border-width: medium;
    border-style: solid;
    background-color: #FFFFFF;
    margin: 0 auto;
    font-family: Helvetica;
}

.card-top {
    background-color: #000000;
    height: 30%;
    color: #FFFFFF;
}

.card-mid {
    background-color: #FFFFFF;
    height: 40%;
}

.card-bottom {
    background-color: #E01318;
    height: 30%;
}

.card-title {
    float: left;
    margin-top: 25px;
    margin-left: 78px;
    font-size: 25px;
}

.card-img {
    position: absolute;
    float: left;
    margin-top: 70px;
    margin-left: 20px;
    border-width: thin;
    border-style: solid;
    border-color: #000000;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.card-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card-logo {
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}

.card-department {
    float: right;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}

.card-mid-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: auto;
    margin-left: 45%;
}

.card-mid-text img {
    margin-top: 10px;
}

.modal-lg {
    max-width: 1280px !important;
}

.img-container {
    max-width: 100%;
}

.img-container img {
    width: 100%;
}

.preview {
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid red;
}